<!-- <div class="container all">
    <div class="row" style="margin: auto;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 text-center" style="margin:auto;" *ngFor="let good of goods; index as i">
                    <div class="card" style="width: 18rem; height: 450px;">
                        <img src="{{good.photoUrl}}" class="card-img-top" height="200px">
                        <div class="card-body">
                        <h5 class="card-title">{{good.name | titlecase}}</h5>
                        <p class="card-text">{{good.discription | titlecase}}</p>
                        <p class="card-text">{{good.price | currency}} </p>
                        <div>
                        <button (click)="addToCard(i)" class="btn btn-primary" *ngIf="add !== i">add to cart  </button>
                      </div>
                        <div *ngIf="add === i">
                            <input #amount type="number" class="form-control" placeholder="Amount" >
                            <button class="btn btn-danger" (click)='buy(amount.value)'>Buy</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  -->
<div class="all">
  <section class="portifolio" id="work">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-4 col-md-4 col-sm-12"
          *ngFor="let good of goods; index as i"
        >
          <div class="webPage" style="padding-bottom: 40px;">
            <div class="work-img">
              <img
                src="{{ good.photoUrl }}"
                class="img-fluid"
                height="200px"
                width="100%"
              />
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">{{ good.name }}</h2>
                  <p>{{ good.discription }}</p>
                  <div class="w-more">
                    <span class="w-ctegory">{{ good.price | currency }}</span>
                  </div>
                  <button
                    (click)="addToCard(i)"
                    class="btn btn-primary"
                    *ngIf="add !== i"
                  >
                    add to cart
                  </button>
                  <div *ngIf="add === i">
                    <input
                      #amount
                      type="number"
                      class="form-control"
                      placeholder="Amount"
                    />
                    <button class="btn btn-danger" (click)="buy(amount.value)">
                      Buy
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
